// Body
$body-bg: white;
$primary: #555;

// ovverride bootstrap colors
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary, // gray
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "link-color": $red
);


$link-color: $primary;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
