$body-bg: white;
$primary: #555;
$pagination-active-bg: $primary;

$active-color: $success; 

$pagination-active-border: $active-color;
// $pagination-hover-color: tint-color($active-color, 25%);
$pagination-hover-color: $light;
$pagination-hover-bg: shade-color($active-color, 25%);

$pagination-focus-bg: tint-color($active-color, 5%); // value * 1% to avoid deprecation
$pagination-focus-color: $active-color;
$pagination-active-border-color: $active-color;
$pagination-focus-box-shadow: shade-color($active-color, 25%);

// ovverride bootstrap colors
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary, // gray
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "link-color": $red
);


$link-color: $primary;