// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "@modules/bootstrap/scss/functions";
@import "@modules/bootstrap/scss/variables";
@import "@modules/bootstrap/scss/variables-dark";

@import 'variables';

// Bootstrap
@import '@bootstrap/scss/bootstrap';

// @import "/node_modules/bootstrap/scss/variables-dark";

.container-my {
    @include make-container("50px");
}

//import icons
// @import url("bootstrap-icons.min.css");
@import "@modules/bootstrap-icons/font/bootstrap-icons.min.css";


// variables
.table_btn{
    --bs-icon-link-transform: translate3d(.225rem, -.225rem, 0);
}




table {
    .table_overflow {
        text-overflow: ellipsis;

        /* required for  text-overflow*/ 
        white-space: nowrap;
        overflow-x: hidden;
    }
    // for small <td>
    .table_crop_s {
        max-width:15em;
        width:15em;
    }
    // for medium-sized <td>
    .table_crop_m {
        max-width:25em;
        width:25em;
    }


    td {
        @extend .table_overflow;
    }
    // min-width: 50em;
    // @apply .w-50;
}